*{
    margin: 0;
    padding: 0;
    
}
body{
    background-color: rgb(14, 212, 113);
    background-attachment:unset;
    
}
div{
    background-image: url("../images/c.JPG");
    background-repeat: no-repeat;
    background-position: right top; 
    background-origin:padding-box;
}
h1{
    color:white;
    text-align: center;
    margin: 10px;
    padding: 10px;
    border: 2px solid blue;
    opacity: 0.9;
    border-top: 6px solid red;

    
}
h2{
    text-align: center;
    color: blue;
    text-indent: 30px;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    margin: 25px;
    outline-style: solid;
    outline-width: 1px;
    font-size: medium;
    text-align:center;
    direction:ltr;
    unicode-bidi: bidi-override;
}
.center {
    text-align: center;
  }
  
  .pagination {
    display: inline-block;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
  }
  
  .pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}